# Python
__pycache__/
*.pyc
*.py[cod]
*.pyo
*.pyd
*.log

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env
.env.*

# Django
*.sqlite3
/staticfiles/
media/

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

.venv
__pycache__
*.pyc
*.pyo
*.pyd
.git
.gitignore
.env
.env.prod
chroma_db
staticfiles
node_modules